:root {
    --red: #ff7d7d;
    --light-red: #ffa3a3;
    --white: #fdfdfd;
    --grey: #aaa;
}

/* Setup some HTML container sizing details. */
html, body {
    margin: 0;
    padding: 0;
}
html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    height: 100%;

    background-color: #333;
    color: #fdfdfd;
}

/* Set everything to border-box box-sizing. */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

/* Set transitions on all buttons and links. */
input, select, button, a {
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
}

#page-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    padding: 15px 2.5%;
}

body > .nav-menu {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.0);

    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
}

.nav-center ul {
    text-align: center;
}

.nav-center ul li {
    display: inline;
    float: none;
}

.nav-center ul li a {
    display: inline-block;
}

/* Flexbox classes. */
.flex {
    flex: 1 1 auto;
}
.d-flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}

/* Specific profile image sizes and style. */
img.profile {
    width: 240px;
    border-radius: 50%;
}


@media screen and (min-width: 880px) {
    img.profile {
        margin-right: 30px;
    }
}

.paragraph-image-container {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 40px;
}

p {
    text-align: justify;
}

.clear {
    clear: both;
}

/* Text position classes. */
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

ul > li.heading {
    font-size: 18px;
    font-weight: 500;
}

ul > li.item {
    font-size: 13.5px;
    line-height: 30px;
}

.text-medium {
    font-size: 18px;
    line-height: 1.5;
}

#intro {
    display: inline-block;
}

.vertical-middle {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
    height: auto;
}
h2.vertical-middle {
    display: block;
}

.vertical-middle-wrapper {
    line-height: 240px;
    height: 240px;
}

.spacer-50 {
    height: 100px;
}

@media screen and (max-width: 600px) {
    #page-content .spacer-50 {
        height: 25px;
    }
}

#protocols > .col-content > .row > .col,
#technology > .col-content > .row > .col {
    line-height: 30px;
}

#page-content ul:not(.browser-default) {
    margin-top: 5px;
}

@media screen and (max-width: 880px) {
    #about-container {
        display: block;
    }
    #about-container > div:nth-child(1) {
        text-align: center;
    }
    #about-container > div {
        display: block;
        flex: none;
    }
    #page-content .spacer-50 {
        height: 20px !important;
    }
}

nav ul li.active > a > span {
    border-bottom: 1px solid var(--white);
    padding-bottom: 5px;
}

nav ul li.active {
    background-color: rgba(0, 0, 0, 0.0);
}

#page-content .marginless {
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.paddingless {
    padding: 0;
}

#name {
}

#name, #page-content a {
    color: var(--red);
}

#page-content a:hover {
    color: var(--light-red);
}

.metadata {
    margin-bottom: 10px;
}

.metadata > small > span > a {
    font-size: 13px !important;
}

.metadata .separator {
    margin-left: 10px;
    margin-right: 10px;
    color: var(--grey);
}

#page-content > .container > .row > .col:nth-child(1),
#page-content > .container > .row > .col:nth-child(3)
{
    padding-right: 20px;
}

#page-content > .container > .row > .col:nth-child(2),
#page-content > .container > .row > .col:nth-child(4)
{
    padding-left: 20px;
}

#page-content h5, #name {
    font-family: "Gugi", cursive;
    font-weight: 400;
    text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
    #projects .col-content > p {
        padding: 0 5%;
    }
}
