<link rel="shortcut icon" href="/static/favicon.png" type="image/png" />

<!-- Meta characteristics. -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Google Fonts: Bungee. -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet"> 

<link rel="stylesheet" href="/static/css/materialize.min.css" />
<link rel="stylesheet" href="/static/css/style.css" />


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3XJ2EFK99L"></script>
<script type="text/javascript" src="/static/js/analytics.js"></script>
