<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/header.html" %}
        <title>{% block pageTitle %}{{ person.name }}{% endblock %}</title>
    </head>

    <body>
        {% include "partials/navbar.html" %}

        <div id="page-content" class="flex d-flex flex-col">
            {% block beforeContent %}{% endblock %}
            <div class="container flex d-flex flex-col">
                {% block pageContent %}{% endblock %}
            </div>
        </div>

        {% include "partials/footer.html" %}
    </body>
</html>
